:root {
    /* font-size */
    --fs-xsm: 10.24px;
    --fs-sm: 12.8px;
    --fs-md: 16px;
    --fs-xlg: 15px;
    --fs-lg: 20px;
    --fs-xl: 25px;
    --fs-xxl: 39.6px;
    --fs-xxxl: 48.83px;
    --fs-xxxxl: 64px;
    /* font-color */
    --fc-orange: #ff5300;
    --fc-primary-orange: #FF5300BF;
    --fc-black: #373737;
    --fc-gray: #7b7b7b;
    --fc-primary-gray: #efefef;
    --fc-white: #fff;
    --fc-primary-white: #fff7f4;
    --fc-black-shadow: #0000001a;

}

@media(min-width:576px) {
    .heading-1 {
        --fs-xl: 48.83px;
    }

    .heading-2 {
        --fs-lg: 39px;
    }

    .ux-design {
        --fs-lg: 25px;
    }

    .all {
        --fs-md: 20px;
    }

    .template {
        --fs-lg: 25px;
    }

    .number2 {
        --fs-xl: 39px;
    }

    .experts {
        --fs-md: 20px;
    }

    .stellar {
        --fs-xlg: 18px;
    }
}
@media(min-width:992px){
    .stellar {
            --fs-xlg: 16px;
        }
}
@media(min-width:1200px) {
    .stellar {
        --fs-xlg: 20px;
    }
}